<header class="header">
  <div id="main-title">
    LATVIK
  </div>
  <div id="navigation">
    <ul>
      <li><a href="..">Main</a></li>
      <li><a href="my-posts">My posts</a></li>
      <li>
        <form id="search-posts-form" method="get">
          <label for="search-post-area"></label><input id="search-post-area" placeholder="search" type="text">
          <button id="search-posts-btn" type="submit"><img src="../../res/icons/search.svg" alt="search"></button>
        </form>
      </li>
    </ul>
  </div>

  <!--  TODO: Update after implementing user authorization -->
  <div id="gt-account-title">
    Account
    <!--    <?php if(true):?>-->
    <!--      Hi, <a href=" "> {Username} </a>>-->
    <!--      <a>Log out </a>>-->

    <!--    <?php else: ?>-->
    <!--      <a href="        ">Log in</a>-->

    <!--    <?php endif;?>-->
  </div>

</header>