<div class="column">
  <div class="main-card">
    <!--    TODO:  add action-->
    <form id="new-user-form" class="card-form" method="post">
      <label class="center-text">New account</label>

      <div>
        <label for="new-username">Username</label>
        <input id="new-username" autofocus type="text" name="username">
      </div>

      <div>
        <label for="new-email">Email </label>
        <input id="new-email" type="email" name="email">
      </div>

      <div>
        <label for="new-password">Password </label>
        <input id="new-password" type="password">
      </div>

      <div>
        <label for="clone-password">Repeat password </label>
        <input id="clone-password" type="password">
      </div>

      <div>
        <label for="file">Icon</label>
        <input id="file" type="file" accept="image/*">
      </div>

      <button class="submit-button" type="submit">Create</button>
    </form>
  </div>
</div>
